In [1]:
# 1. 출력하기 01

print("Hello")

Hello

In [110]:
# 2. 출력하기 02

print("Hello World")

Hello World

In [111]:
# 3. 출력하기 03

print("Hello\nWorld")

Hello
World

In [112]:
# 4. 출력하기 04

print("'""Hello""'")

'Hello'

In [113]:
# 5. 출력하기 05

print('''"Hello World"''')

"Hello World"

In [114]:
# 6. 출력하기 06

print('''"!@#$%^&*()"''')

"!@#$%^&*()"

In [115]:
# 7. 출력하기 07

print('''"C:\\Download\\'hello'.py"''')

"C:\Download\'hello'.py"

In [116]:
# 8. 출력하기 08

print('''print"("Hello\\nWorld")''')

print"("Hello\nWorld")

In [3]:
# 9. 문자 1개 입력받아 그대로 출력하기

a = input()
print(a)

a

In [4]:
# 10. 정수 1개 입력받아 int로 변환하여 출력하기

b = int(input())
print(b)

15

In [7]:
# 11. 실수 1개 입력받아 변환하여 출력하기

c = float(input())
print(c)

10.1

In [9]:
# 12. 정수 2개 입력받아 그대로 출력하기기

d = int(input())
e = int(input())

print(d)
print(e)

3
4

In [19]:
# 13. 문자 2개 입력받아 순서 바꿔 출력하기

f = input()
g = input()

print(g)
print(f)

k
h

In [13]:
# 14. 실수 1개 입력받아 3번 출력하기1-1

h = float(input())

print(h)
print(h)
print(h)

0.1
0.1
0.1

In [29]:
# 14. 실수 1개 입력받아 3번 출력하기1-2

h = float(input())

for i in range(1, 3+1, 1):
    print(h)

3.0
3.0
3.0

In [32]:
# 15. 정수 2개 입력받아 그대로 출력하기2

a , b = input().split()
a = int(a)
b = int(b)

print(a)
print(b)

4
5

In [34]:
# 16. 문자 2개 입력받아 순서 바꿔 출력하기2

c1, c2 = input().split()

print(c2, c1)

b a

In [36]:
# 17. 문장 1개 입력받아 3번 출력하기-1

s = input()
print(s, s, s)

cc cc cc

In [44]:
# 17. 문장 1개 입력받아 3번 출력하기-2

s = input()

for i in range(1, 3+1, 1):
    print(s)

g
g
g

In [47]:
# 18. 시간 입력받아 그대로 출력하기

a, b = input().split(":")

print(a, b, sep =":")

3:13

In [48]:
# 19. 연월일 입력받아 순서 바꿔 출력하기

y, m, d = input().split(".")

print(d, m, y, sep="-")

23-05-2022

In [94]:
# 20. 주민번호 입력받아 형태 바꿔 출력하기

c1, c2 = input().split("-")

print(c1, c2, sep="")

9933

In [97]:
# 21. 단어 1개 입력받아 나누어 출력하기-1

s = input()

print(s[0]) 
print(s[1])
print(s[2])
print(s[3])
print(s[4])

H
e
l
l
o

In [100]:
# 21. 단어 1개 입력받아 나누어 출력하기-2

s = input()

for i in range(0, 4+1, 1):
    print(s[i])

H
e
l
l
o

In [118]:
# 22. 연월일 입력받아 나누어 출력하기

s = input()

print(s[0:2], s[2:4], s[4:6], sep=" ")

93 05 21

In [103]:
# 23. 시분초 입력받아 분만 출력하기-1

s = input()

print(s[3:5])

23

In [104]:
# 23. 시분초 입력받아 분만 출력하기-2

s = input().split(":")

print(s[1])

23

In [105]:
# 24. 단어 2개 입력받아 이어 붙이기

w1, w2 = input().split()
s = w1 + w2

print(s)

HelloWorld

In [109]:
# 25. 정수 2개 입력받아 합 계산하기

a, b = input().split(" ")
c = int(a) + int(b)

print(c)

0

In [2]:
# 26. 실수 2개 입력받아 합 계산하기

a = float(input())
b = float(input())

print(a + b)

1.0

In [5]:
# 27. 10진 정수 입력받아 16진수로 출력하기

a = int(input())

print('%x' %a)

ff

In [6]:
# 28. 10진 정수 입력받아 16진수로 출력하기2

a = int(input())

print('%X' %a)

FF

In [8]:
# 29. 16 정수 입력받아 8진수로 출력하기

a = input()
a = int(a, 16)

print('%o' %a)

17

In [9]:
# 30. 영문자 1개 입력받아 10진수로 변환하기

n = ord(input())    # ord() 문자 -> 정수값 형태로 변환

print(n)

65

In [12]:
# 31. 정수 입력받아 유니코드 문자로 설명하기

n = int(input())

print(chr(n))    # chr() 정수값 -> 문자 형태로 형변환

A

In [14]:
# 32. 정수 1개 입력받아 부호 바꾸기

n = int(input())

print(-n)

0

In [21]:
# 33. 문자 1개 입력받아 다음 문자 출력하기

n = ord(input())

print(chr(n+1))

b

In [27]:
# 34. 정수 2개 입력받아 차 계산하기

a, b = input().split(" ")
c = int(a) - int(b)

print(c)

246

In [28]:
# 35. 실수 2개 입력받아 곱 계산하기

f1, f2 = input().split(" ")
m = float(f1) * float(f2)

print(m)

1.0

In [29]:
# 36. 단어 여러 번 출력하기

w, n = input().split(" ")

print(w * int(n))

hellohellohello

In [30]:
# 37. 문장 여러 번 출력하기

n = input()
s = input()

print(int(n) * s)

hello pythonhello pythonhello python

In [31]:
# 38. 정수 2개 입력받아 거듭제곱 계산하기

a, b = input().split(" ")
c = int(a) ** int(b)

print(c)

1024

In [35]:
# 39. 실수 2개 입력받아 거듭제곱 계산하기

f1, f2 = input().split(" ")
ff = float(f1) ** float(f2)

print(ff)

16.0

In [36]:
# 40. 정수 2개 입력받아 나눈 몫 계산하기

a, b = input().split(" ")
c = int(a) // int(b)

print(c)

3

In [37]:
# 42. 정수 2개 입력받아 나눈 나머지 계산하기

a, b = input().split(" ")
c = int(a) % int(b)

print(c)

3

In [48]:
# 43. 실수 2개 입력받아 나눈 결과 계산하기-1

f1, f2 = input().split(" ")
c = float(f1) / float(f2)

print(round(c, 3))

3.333

In [49]:
# 43. 실수 2개 입력받아 나눈 결과 계산하기-2

f1, f2 = input().split(" ")
c = float(f1) / float(f2)

print(format(c, ".3f"))

3.333

In [51]:
# 44. 정수 2개 입력받아 자동 계산하기

a, b = input().split(" ")

c1 = int(a) + int(b)
c2 = int(a) - int(b)
c3 = int(a) * int(b)
c4 = int(a) // int(b)
c5 = int(a) % int(b)
c6 = int(a) / int(b)

print(c1)
print(c2)
print(c3)
print(c4)
print(round(c5, 2))
print(round(c6, 2))

13
7
30
3
1
3.33

In [66]:
# 45. 정수 3개 입력받아 합과 평균 출력하기

a, b, c = input().split(" ")

sum = int(a) + int(b) + int(c)
avg = sum / 3

print(sum, round(avg, 2))

6 2.0

In [68]:
# 46. 정수 1개 입력받아 2배 곱해 출력하기

n = int(input())

print(n << 1)    # 10을 2배 한 값인 20이 출력된다
print(n >> 1)    # 10을 반으로 나눈 값인 5가 출력된다.
print(n << 2)    # 10을 4배 한 값인 40이 출력된다.
print(n >> 2)    # 10을 반으로 나눈 후 다시 반으로 나눈 값인 2가 출력된다

20
5
40
2

In [75]:
# 47. 2의 거듭제곱 배로 곱해 출력하기

a, b = input().split(" ")

print(int(a) << int(b))

16

In [76]:
# 48. 정수 2개 입력받아 비교하기1

a, b = input().split(" ")

print(int(a) < int(b))

True

In [77]:
# 49. 정수 2개 입력받아 비교하기2

a , b = input().split(" ")

print(int(a) == int(b))

True

In [79]:
# 50. 정수 2개 입력받아 비교하기3

a, b = input().split(" ")

print(int(a) <= int(b))

False

In [ ]:
# 51.